body{
    background-color: #313131;
    font-family: 'Times New Roman', Times, serif;
}

.info-right{
    display: flex;
    justify-content: right;
    background: none;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 500;   
}

html{
    scroll-behavior: smooth;
}
.info-right a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 20px;
    display: block;
    transition: 0.3s;

}

.outer{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    background: none;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 500;
}

.inner-left{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    justify-content: left;
    background: none;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 5%;
}
.inner-right{
    
    display: flex;
    align-items: center;
    background: none;
    color: #FFFFFF;

}
