body{
    background-color: #313131;
    font-family: 'Times New Roman', Times, serif;
}

.info-right{
    display: flex;
    justify-content: right;
    background: none;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 500;



    
}
.info-right a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 20px;
    display: block;
    transition: 0.3s;

}


.link a{
    text-decoration: none;
    color: #FFFFFF;
    
    padding: 10px 20px;
    display: block;
    transition: 0.3s;
    text-align: center;
    padding: 30px;
}

.link a:active{
    background-color: #FFFFFF;
    color: #313131;
}

.link h1:active{
    background-color: #FFFFFF;
    color: #313131;
}

.project-right a:active{
    color: #313131;
}

.project{
    display: flex;
   /* text center */
    justify-content:baseline;
    align-items: center;
    /* column */
    flex-direction: column;
}